.header {
	background: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.expand {
	flex-grow: 1;
	margin-left: 0;
	margin-right: 50px;
	text-align: center;
}

body {
	font-family: sans-serif;
	background: #eee;
	padding: 20px;
}

.card {
	background: white;
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: 1fr;
}

@media (min-width: 600px) {
	main {
		grid-template-columns: 2fr 1fr;
	}
}

form {
	padding: 20px;
}

.form-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
}

.radio {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.radio-item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.checkbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

fieldset {
	display: flex;
	flex-direction: column;
	grid-template-columns: 150px 1fr;
	gap: 10px;
	padding: 10px;
	margin-bottom: 15px;
}

fieldset:last-of-type {
	margin-bottom: 0;
}

input {
	margin-left: 10px;
}

button {
	margin: 10px;
}

table {
	border-collapse: collapse;
	margin: 25px 0;
}

th, td {
	padding: 12px 15px;
}

thead tr {
  text-align: left;
  border-bottom: 3px solid #000000;
}

tbody tr {
  border-bottom: 1px solid #000000;
}

tbody tr:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

tbody tr :nth-child(even) {
	background-color: rgb(176, 183, 183);
}

input:user-valid, select:user-valid {
	border: 2px solid rgb(0, 173, 0);
}

input:user-invalid, select:user-invalid {
	border: 2px solid rgb(204, 0, 0);
}